/.git
/.idea
/vendor
/config/config.php
/config/config*.php
/config/xs.course.ini
/config/xs.article.ini
/config/xs.question.ini
/config/alipay/*.crt
/config/wxpay/*.pem
/db/migrations/schema.php
/public/robots.txt
/public/sitemap.xml
/public/h5
/storage/cache/purifier
*KgTest*

# 开发环境配置文件和测试脚本
/test-env.php
/配置说明-开发环境.md
